body {
    overflow: auto;
    background-color: #222;
    background-image: url("https://cdn.wallpapersafari.com/44/40/FGJpeK.jpg");
    /*background image color is #A0B7C7*/
    background-size: cover;
    /*background-repeat: no-repeat;*/
}
.card {
	/*background-color: #FFD8CA;*/
    color: black;
    margin: 0 auto;
    text-align: center;
    border: 5px solid red; /*delete border*/
    width: 1280px;
    height: 720px;
    /*box-shadow: 10px 10px 5px grey;*/
}
#mainTitle {
    margin-bottom: 10%;
    background-color: #FFD8CA;
    border-radius: 25px;
    box-shadow: 10px 10px 5px grey;
}

#transitionPage img {
	width: 300px;
	height: 300px;
}
/*
STARTING SCREEN
*/

.btn {
    font-size: 30px;
    box-shadow: 10px 10px 5px grey;
}


/*
QUESTION FORM
*/

.col-md-6 {
	height: 150px;
}

.border {
	border: 3px solid blue;
}