body {
    overflow: auto;
    background-color: #222;
    background-image: url("https://cdn.wallpapersafari.com/44/40/FGJpeK.jpg");
    /*background image color is #A0B7C7*/
    background-size: cover;
    /*background-repeat: no-repeat;*/
}

.card {
    color: black;
    margin: 0 auto;
    text-align: center;
    border: 5px solid red;
    /*delete border*/
}

#mainTitle {
    padding: 30px 0;
    margin-bottom: 50px;
    color: #074A79;
    background: #d9a7c7;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to top left, #fffcdc, #d9a7c7);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top left, #fffcdc, #d9a7c7);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border-radius: 15px;
    box-shadow: 10px 10px 5px grey;
}

#transitionPage img {
    width: 300px;
    height: 300px;
}

/*
STARTING SCREEN
*/

.btn {
    font-size: 30px;
    box-shadow: 10px 10px 5px grey;
}

/*
QUESTION FORM
*/

#question {
    background: #ec008c;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom left, #fc6767, #ec008c);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom left, #fc6767, #ec008c);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: #401100;
    border-radius: 15px;
}

.col-md-6 {
    height: 150px;
}

.answer {
    border: 3px solid blue; /*delete border*/
}